In [ ]:
# Initialize necessary libraries
import numpy as np
import pandas as pd

#### Activity 1

In [ ]:
# Create and display dataframe consisting of three columns
details = \
{'Brand':pd.Series(['Nokia','Asus',"Nokia","Nokia",'Samsung',"ABC",'Micromax','Apple','MI','Zen',"Apple"]), 
 'Price':pd.Series([10000,8000,12500,7000,40000,12000,12999,13999,59999]), 
 'Rating(10)':pd.Series([7,6.5,8.5,9,8,9.5,7,9])
}
 
df = pd.DataFrame(details)
df

In [ ]:
# describe the data - Check missing values in given
df.isnull().sum()

In [ ]:
## replace missing values

# Fill null values in Price column
a = df['Price'].median() # Calculatin median of Price column
df['Price'] = df['Price'].fillna(a) # Filling null values of Price column with median

# Fill null values in Price column
b = df['Rating(10)'].median() # Calculatin median of Rating column
df['Rating(10)'] = df['Rating(10)'].fillna(b) # Filling null values of Rating column with median

df.transpose() # Displaying transposed DataFrame to save space

In [ ]:
# describe data again
df.describe().transpose() # Displaying transposed results to save space

In [ ]:
# mean, mode and median column wise
for col in df:
    if df[col].dtypes == 'object':
        print('Mean:\t\t NA\nMedian:\t\t NA')
        print('Mode:\t\t',df[col].mode())
    else:
        print('Mean:\t\t',df[col].mean())
        print('Median:\t\t',df[col].median())
        print('Mode:\t\t',df[col].mode())
    print()

#### Activity 2

In [ ]:
s1 = pd.read_csv(r"https://raw.githubusercontent.com/suyashi29/Tableau/refs/heads/master/Exam_Data3.csv") # Read table #1
s1.head(2)

In [ ]:
s2 = pd.read_excel(r"https://raw.githubusercontent.com/suyashi29/Tableau/refs/heads/master/Exam_data2.xlsx") # Read table #2
s2.head(2)

In [ ]:
unique_df2_cols = s2.columns.difference(s1.columns).to_list() # Unique columns from dataframe 2
unique_df2_cols.append('ROLL NO') # Append column upon which the join between two dataframes will be done
s12 = pd.merge(s1, s2[unique_df2_cols], how='outer', on='ROLL NO') # Merge both dataframes
s12.head(2)

In [ ]:
s12.describe() # Display central tendencies of numerical columns

In [ ]:
import requests 
import pandas.io.json 
url = "https://api.exchangerate-api.com/v4/latest/USD" 
df = pd.read_json(url) # Normalize semi-structured JSON data into a flat table (DataFrame)
df.head()